@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-white: #FFFFFF;

  --color-primary: #E583A2;
  --color-primary-light: #EDBFCF;
  --color-primary-dark: #D46588;
  --color-primary-darkest: #BA5978;

  --color-tertiary: #3DAFB0;
  --color-tertiary-light: #B0E4E6;
  --color-tertiary-dark: #0F9596;
  --color-tertiary-darkest: #197C7D;

  --color-danger: #F65C6A;
  --color-danger-light: #FAAEB6;
  --color-danger-dark: #C2192A;
  --color-danger-darkest: #A81624;

  --color-success: #70A33B;
  --color-success-light: #C1E59B;
  --color-success-dark: #528024;

  --color-neutral: #5D758D;
  --color-neutral-lightest: #F2F7FC;
  --color-neutral-light: #B4C5D6;
  --color-neutral-light-2: #D9E2EB;
  --color-neutral-darkest: #404951;
}
